<h1>Your profile</h1>

<p>Hi, <%= current_user.name %>! Have you heard the Good News about FI/RE?</p>

<ul>
  <li><%= link_to "Manage categories", categories_path %></li>
  <li><%= link_to "Manage expenses", expenses_path %></li>
</ul>
